* {
    box-sizing: border-box;
}

body {
    border: 4px solid black;
    background-color: antiquewhite;
    padding: 15px;
    background-image: url("https://source.unsplash.com/1600x900/?background/buildings");

}

div {
    margin: 8px;

}

len {
    color: black;
}

mec {
    color: black;
}

tem {
    color: black;
}

it {
    color: black;
}

are {
    color: black;
}

mass {
    color: black;
}

vol {
    color: black;
}

speed {
    color: black;
}

ti {
    color: black;
}